:root {
    --accent-color: #2196F3;
    --main-color: #212121;
    --black-fon-text-color: #FFFFFF;
    --text-p-color: #757575;
    --secondary-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
}

body {
    background-color: var(--black-fon-text-color);
    font-family: Roboto, sans-serif;
    color: var(--main-color);
}






/* CТИЛІЗАЦІЯ HEADER */



/* стилізація логотипа */
.logo {
    color: currentColor;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent-color)
}

.logo-footer {
    color: var(--black-fon-text-color);
}





/* стилізація навігації */
.navigation {
    list-style: none;
}

.navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: currentColor;
    text-decoration: none;
}


.navigation a:focus {
    color: var(--accent-color);
}

.navigation a:hover {
    color: var(--accent-color);
}

.navigation .navigation-portfolio {
    color: var(--accent-color);
}

.navigation .navigation-studio {
    color: var(--accent-color);
}

/* стилізація зв'язку */
.connection {
    list-style: none;
}

.connection a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-p-color);
    text-decoration: none;
}

.connection a:focus {
    color: var(--accent-color);
}

.connection a:hover {
    color: var(--accent-color);
}





/* СТИЛЫЗАЦІЯ FOOTER */
.address {
    list-style: none;
}

.address a {
    text-decoration: none;
    font-style: normal;
    color: var(--secondary-color);
}

footer {
    background-color: var(--background);
}

.address a[href="https://cutt.ly/mX3golp"] {
    color: var(--black-fon-text-color);
}

.address a:hover {
    color: var(--accent-color);
}

.address a:focus {
    color: var(--accent-color);
}




/* СТИЛІЗАЦІЯ MAIN ДЛЯ СТОРІНКИ "СТУДІЯ" */


/* стилізція секції герой */
.text-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--black-fon-text-color);
    background-color: #2F303A;
}

.hero {
    background-color: var(--background);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    color: var(--black-fon-text-color);
    background-color: #2196F3;
    cursor: pointer;
}





/* стилізація секції наші переваги */
.section-our-advantages {
    list-style: none;
}

.section-our-advantages h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.section-our-advantages p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-p-color);
}





/* стилізація секції  */
.our-work h2 {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-work ul {
    list-style: none;
}





/* стидізація секції наша команда */
.our-team ul {
    list-style: none;
}

.our-team h2 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team p {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-p-color);
}





/* СТИЛІЗАЦІЯ MAIN ДЛЯ СТОРЫНКИ ПОРТФОЛІО  */




/* стилызація для фільтрів */
.filters {
    list-style: none;
}

.filters button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.filters button:hover {
    color: var(--black-fon-text-color);
    background-color: #2196F3;
    cursor: pointer;
}

.filters button:focus {
    color: var(--black-fon-text-color);
    background-color: #2196F3;
    cursor: pointer;
}




/* стилізація секції котенту */
.our-content ul {
    list-style: none;
}

.our-content h2 {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.our-content p {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-p-color);
}